RewriteEngine On
Redirect 301 /blog/who-webmaster-what-doing/ https://newwebmaster.ru/who-webmaster-what-doing/
Redirect 301 /blog/es5-es6-what-is-it/ https://newwebmaster.ru/es5-es6-what-is-it/
Redirect 301 /blog/wp-5-2-themes-update-wp-body-open/ https://newwebmaster.ru/wp-5-2-themes-update-wp-body-open/
Redirect 301 /blog/change-gutenberg-editors-default-font/ https://newwebmaster.ru/change-gutenberg-editors-default-font/
Redirect 301 /blog/gitignore-for-wordpress/ https://newwebmaster.ru/gitignore-for-wordpress/
Redirect 301 /blog/xubuntu-cleaning/ https://newwebmaster.ru/xubuntu-cleaning/
Redirect 301 /blog/git-v2-update-in-ubuntu/ https://newwebmaster.ru/git-v2-update-in-ubuntu/
Redirect 301 /blog/wp_query-args/ https://newwebmaster.ru/wp_query-args/
Redirect 301 /blog/wordpress-post-status-hightlight/ https://newwebmaster.ru/wordpress-post-status-hightlight/
Redirect 301 /blog/wordpress-front-category-exclusion/ https://newwebmaster.ru/wordpress-front-category-exclusion/
Redirect 301 /blog/nginx-mysql-php-lemp-ubuntu/ https://newwebmaster.ru/nginx-mysql-php-lemp-ubuntu/
Redirect 301 /blog/413-request-entity-too-large/ https://newwebmaster.ru/413-request-entity-too-large/
Redirect 301 /blog/wordpress-remove-emoji/ https://newwebmaster.ru/wordpress-remove-emoji/
Redirect 301 /blog/slick-in-bootstrap-tabs-and-equal-height/ https://newwebmaster.ru/slick-in-bootstrap-tabs-and-equal-height/
Redirect 301 /blog/gistbox-for-your-snippets/ https://newwebmaster.ru/gistbox-for-your-snippets/
Redirect 301 /blog/remove-gutenberg-in-wordpress/ https://newwebmaster.ru/remove-gutenberg-in-wordpress/
Redirect 301 /blog/replace-jquery-to-js-vanilla/ https://newwebmaster.ru/replace-jquery-to-js-vanilla/
Redirect 301 /blog/sublime-text-install-ubuntu/ https://newwebmaster.ru/sublime-text-install-ubuntu/
Redirect 301 /blog/deb-package-managment/ https://newwebmaster.ru/deb-package-managment/
Redirect 301 /blog/bitrix24-two-forms-on-one-page/ https://newwebmaster.ru/bitrix24-two-forms-on-one-page/
